$primary: #2ecc71;
$primary-dark: #27ae60;
$text-color: whitesmoke;
$form-text-color-focus: #333;
$form-text-color: #777;

$secondary: rgba(45, 145, 219, 0.95);
$secondary-light: rgba(52, 152, 219, 1.0);
$secondary-dark: rgba(41, 128, 185, 1.0);

$shadow-color: rgba(0, 0, 0, 0.1);
$tooltip-background: rgba(255, 255, 255, 0.9);
